In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bibliotheque import *
import tqdm
%matplotlib inline

In [3]:
root = '/crnldata/'

In [6]:
spindle_file = root + 'cmo/Etudiants/Valentin_G/Sleep_EEG_Respi/df_analyse/spindles_N2.xlsx'
rsp_cycle_file = root + 'cmo/Etudiants/Valentin_G/Sleep_EEG_Respi/df_analyse/rsp_cycles.xlsx'

In [10]:
df_cycles = pd.read_excel(rsp_cycle_file).drop(columns = 'Unnamed: 0')
spindles = pd.read_excel(spindle_file).drop(columns = 'Unnamed: 0')

In [11]:
df_cycles

,start,transition,stop,inspi duration,expi duration,ratio,cycle_duration
0,0.609375,1.679688,3.570312,1.070312,1.890625,0.361478,2.960938
1,3.570312,4.683594,6.710938,1.113281,2.027344,0.354478,3.140625
2,6.710938,7.746094,9.847656,1.035156,2.101562,0.330012,3.136719
3,9.847656,10.902344,12.988281,1.054688,2.085938,0.335821,3.140625
4,12.988281,13.863281,15.523438,0.875000,1.660156,0.345146,2.535156
...,...,...,...,...,...,...,...
3914,11323.417969,11324.335938,11326.191406,0.917969,1.855469,0.330986,2.773438
3915,11326.191406,11327.187500,11328.761719,0.996094,1.574219,0.387538,2.570312
3916,11328.761719,11329.660156,11331.558594,0.898438,1.898438,0.321229,2.796875
3917,11331.558594,11332.519531,11334.105469,0.960938,1.585938,0.377301,2.546875
3918,11334.105469,11335.066406,11337.398438,0.960938,2.332031,0.291815,3.292969

In [12]:
df_cycles.mean()

start             5586.410950
transition        5587.421712
stop              5589.303726
inspi duration       1.010762
expi duration        1.882014
ratio                0.351632
cycle_duration       2.892776
dtype: float64

In [14]:
spindles

,stage,Start,Peak,End,Duration,Amplitude,RMS,AbsPower,RelPower,Frequency,Oscillations,Symmetry,Channel,IdxChannel
0,N2,59.062500,59.421875,59.949219,0.886719,50.552506,9.198861,1.681054,0.273213,13.133270,9,0.403509,Fp2-C4,0
1,N2,61.679688,62.152344,62.363281,0.683594,45.307265,11.034409,2.248550,0.552724,12.831320,9,0.687500,Fp2-C4,0
2,N2,65.433594,65.742188,66.015625,0.582031,44.304907,10.309570,2.206756,0.374857,13.944231,8,0.526667,Fp2-C4,0
3,N2,67.644531,67.765625,68.296875,0.652344,48.667588,11.655442,2.139002,0.361876,14.613934,8,0.184524,Fp2-C4,0
4,N2,87.617188,87.996094,88.328125,0.710938,50.774271,10.271449,1.864006,0.237175,13.915260,7,0.530055,Fp2-C4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,N2,10650.789062,10650.921875,10651.527344,0.738281,53.699516,11.466963,2.057794,0.347915,13.990410,10,0.178947,T3-O1,7
3933,N2,10848.859375,10849.191406,10849.449219,0.589844,46.845153,12.360291,2.203372,0.294651,13.509131,8,0.559211,T3-O1,7
3934,N2,10881.660156,10882.257812,10882.429688,0.769531,55.876462,12.462484,1.994074,0.287606,13.846079,10,0.772727,T3-O1,7
3935,N2,11121.531250,11122.054688,11122.546875,1.015625,50.616274,10.266257,1.963956,0.387135,13.169566,13,0.513410,T3-O1,7
3936,N2,11306.007812,11306.425781,11306.535156,0.527344,38.263166,8.935017,1.752019,0.219201,12.893495,6,0.786765,T3-O1,7

In [20]:
rows = []
loop = range(df_cycles.shape[0])
loop = tqdm.tqdm(loop , desc = 'cycle rsp')
for i in loop:
    start = df_cycles.loc[i,'start']
    transition = df_cycles.loc[i,'transition']
    stop = df_cycles.loc[i,'stop']
    
    for j in range(spindles.shape[0]):
        spindle_time = spindles.loc[j , 'Peak']
        spindle_loc = spindles.loc[j, 'Channel']
        if spindle_time > start and spindle_time < transition:
            spindle_occuring = 'i'
        elif spindle_time > transition and spindle_time < stop:
            spindle_occuring = 'e'
        else:
            spindle_occuring = None
    
        row = [i, start, transition ,stop, spindle_time, spindle_loc, spindle_occuring]
        rows.append(row)
        
df_analyse = pd.DataFrame(rows, columns = ['n_cycle','start','transition','stop','spindle peak','spindle chan', 'spindle occuring'])

cycle rsp: 100%|██████████████████████████████████████████████████████████████████████████████████████████████| 3919/3919 [04:01<00:00, 16.20it/s]

In [21]:
df_analyse

,n_cycle,start,transition,stop,spindle peak,spindle chan,spindle occuring
0,0,0.609375,1.679688,3.570312,59.421875,Fp2-C4,None
1,0,0.609375,1.679688,3.570312,62.152344,Fp2-C4,None
2,0,0.609375,1.679688,3.570312,65.742188,Fp2-C4,None
3,0,0.609375,1.679688,3.570312,67.765625,Fp2-C4,None
4,0,0.609375,1.679688,3.570312,87.996094,Fp2-C4,None
...,...,...,...,...,...,...,...
15429098,3918,11334.105469,11335.066406,11337.398438,10650.921875,T3-O1,None
15429099,3918,11334.105469,11335.066406,11337.398438,10849.191406,T3-O1,None
15429100,3918,11334.105469,11335.066406,11337.398438,10882.257812,T3-O1,None
15429101,3918,11334.105469,11335.066406,11337.398438,11122.054688,T3-O1,None
15429102,3918,11334.105469,11335.066406,11337.398438,11306.425781,T3-O1,None

In [22]:
df_analyse['spindle occuring'].value_counts()

e    2640
i    1286
Name: spindle occuring, dtype: int64

In [28]:
sum(list(df_analyse['spindle occuring'].notnull()))

3926

In [30]:
df_masked = df_analyse[df_analyse['spindle occuring'].notnull()]

In [31]:
df_masked

,n_cycle,start,transition,stop,spindle peak,spindle chan,spindle occuring
60563,15,45.320312,46.394531,47.964844,46.878906,Fz-Cz,e
61510,15,45.320312,46.394531,47.964844,46.507812,Fp1-C3,e
74803,19,57.117188,58.250000,60.234375,59.421875,Fp2-C4,e
78741,20,60.234375,61.265625,63.238281,62.152344,Fp2-C4,e
80249,20,60.234375,61.265625,63.238281,62.066406,Fz-Cz,e
...,...,...,...,...,...,...,...
15318723,3890,11251.066406,11252.062500,11254.351562,11253.000000,C3-T3,e
15328107,3893,11260.808594,11261.792969,11263.472656,11261.617188,C4-T4,i
15389732,3908,11305.285156,11306.230469,11308.312500,11306.425781,T3-O1,e
15407728,3913,11320.007812,11321.019531,11323.417969,11323.007812,Fz-Cz,e
15409275,3913,11320.007812,11321.019531,11323.417969,11321.785156,C3-T3,e

In [32]:
df_masked['n_cycle'].value_counts()

2319    9
1838    8
3555    8
1545    8
1556    8
       ..
1754    1
1777    1
3115    1
3102    1
1376    1
Name: n_cycle, Length: 1405, dtype: int64