In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bibliotheque import *
import tqdm
%matplotlib inline

In [3]:
root = '/crnldata/'

In [31]:
def load_df():
    spindle_file = root + 'cmo/Etudiants/Valentin_G/Sleep_EEG_Respi/df_analyse/spindles_N2.xlsx'
    rsp_cycle_file = root + 'cmo/Etudiants/Valentin_G/Sleep_EEG_Respi/df_analyse/resp_features.xlsx'
    df_cycles = pd.read_excel(rsp_cycle_file).drop(columns = 'Unnamed: 0').loc[:,['cycle_num','inspi_index','expi_index','inspi_time','expi_time','insp_duration','exp_duration','cycle_duration']]
    spindles = pd.read_excel(spindle_file).drop(columns = 'Unnamed: 0')
    end_cycles = []
    for cycle in range(df_cycles.shape[0]):
        end_resp = df_cycles.loc[cycle, 'inspi_time'] + df_cycles.loc[cycle, 'cycle_duration']
        end_cycles.append(end_resp)
    df_cycles['end_time'] = end_cycles
    df_cycles
    
    return df_cycles , spindles

In [32]:
df_cycles , spindles = load_df()

In [33]:
df_cycles

,cycle_num,inspi_index,expi_index,inspi_time,expi_time,insp_duration,exp_duration,cycle_duration,end_time
0,0,156,430,0.609375,1.679688,1.070312,1.890625,2.960938,3.570312
1,1,914,1199,3.570312,4.683594,1.113281,2.027344,3.140625,6.710938
2,2,1718,1983,6.710938,7.746094,1.035156,2.101562,3.136719,9.847656
3,3,2521,2791,9.847656,10.902344,1.054688,2.085938,3.140625,12.988281
4,4,3325,3549,12.988281,13.863281,0.875000,1.660156,2.535156,15.523438
...,...,...,...,...,...,...,...,...,...
3914,3914,2898795,2899030,11323.417969,11324.335938,0.917969,1.855469,2.773438,11326.191406
3915,3915,2899505,2899760,11326.191406,11327.187500,0.996094,1.574219,2.570312,11328.761719
3916,3916,2900163,2900393,11328.761719,11329.660156,0.898438,1.898438,2.796875,11331.558594
3917,3917,2900879,2901125,11331.558594,11332.519531,0.960938,1.585938,2.546875,11334.105469
3918,3918,2901531,2901777,11334.105469,11335.066406,0.960938,2.332031,3.292969,11337.398438

In [25]:
spindles

,stage,Start,Peak,End,Duration,Amplitude,RMS,AbsPower,RelPower,Frequency,Oscillations,Symmetry,Channel,IdxChannel
0,N2,59.062500,59.421875,59.949219,0.886719,50.552506,9.198861,1.681054,0.273213,13.133270,9,0.403509,Fp2-C4,0
1,N2,61.679688,62.152344,62.363281,0.683594,45.307265,11.034409,2.248550,0.552724,12.831320,9,0.687500,Fp2-C4,0
2,N2,65.433594,65.742188,66.015625,0.582031,44.304907,10.309570,2.206756,0.374857,13.944231,8,0.526667,Fp2-C4,0
3,N2,67.644531,67.765625,68.296875,0.652344,48.667588,11.655442,2.139002,0.361876,14.613934,8,0.184524,Fp2-C4,0
4,N2,87.617188,87.996094,88.328125,0.710938,50.774271,10.271449,1.864006,0.237175,13.915260,7,0.530055,Fp2-C4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,N2,10650.789062,10650.921875,10651.527344,0.738281,53.699516,11.466963,2.057794,0.347915,13.990410,10,0.178947,T3-O1,7
3933,N2,10848.859375,10849.191406,10849.449219,0.589844,46.845153,12.360291,2.203372,0.294651,13.509131,8,0.559211,T3-O1,7
3934,N2,10881.660156,10882.257812,10882.429688,0.769531,55.876462,12.462484,1.994074,0.287606,13.846079,10,0.772727,T3-O1,7
3935,N2,11121.531250,11122.054688,11122.546875,1.015625,50.616274,10.266257,1.963956,0.387135,13.169566,13,0.513410,T3-O1,7
3936,N2,11306.007812,11306.425781,11306.535156,0.527344,38.263166,8.935017,1.752019,0.219201,12.893495,6,0.786765,T3-O1,7

In [26]:
def is_there_spindle_in_cycle(df_cycles=df_cycles, spindles=spindles):
    rows = []
    loop = range(df_cycles.shape[0])
    loop = tqdm.tqdm(loop , desc = 'cycle rsp')
    for i in loop:
        start = df_cycles.loc[i,'inspi_time']
        transition = df_cycles.loc[i,'expi_time']
        stop = df_cycles.loc[i,'end_time']

        for j in range(spindles.shape[0]):
            spindle_time = spindles.loc[j , 'Peak']
            spindle_loc = spindles.loc[j, 'Channel']
            if spindle_time > start and spindle_time < transition:
                spindle_occuring = 'i'
            elif spindle_time > transition and spindle_time < stop:
                spindle_occuring = 'e'
            else:
                spindle_occuring = None

            row = [i, start, transition ,stop, spindle_time, spindle_loc, spindle_occuring]
            rows.append(row)

    df_analyse = pd.DataFrame(rows, columns = ['n_cycle','start','transition','stop','spindle peak','spindle chan', 'spindle occuring'])
    return df_analyse

In [27]:
df_analyse = is_there_spindle_in_cycle()

cycle rsp:   1%|â–ˆâ–Œ                                                                                                                                                                                        | 33/3919 [00:02<04:17, 15.10it/s]

KeyboardInterrupt:

In [87]:
def get_phases_resp_timings():
    loop = range(df_cycles.shape[0])
    loop = tqdm.tqdm(loop , desc = 'cycle rsp')
    phases_resps_labels = ['i1','i2','i3','i4','e1','e2','e3','e4','e5','e6','end']
    df_phase_resp_timings = pd.DataFrame(columns = phases_resps_labels)
    for cycle in loop:
        start = df_cycles.loc[cycle,'inspi_time']
        transition = df_cycles.loc[cycle,'expi_time']
        stop = df_cycles.loc[cycle,'end_time']
        insp_duration = df_cycles.loc[cycle,'insp_duration']
        exp_duration = df_cycles.loc[cycle,'exp_duration']

        n_cuts = 4
        for i in range(n_cuts):
            ti = i+1
            i_i = f'i{ti}'
            df_phase_resp_timings.loc[cycle, i_i] = start + i/n_cuts*insp_duration

        n_cuts = 6
        for i in range(n_cuts):
            ti = i+1
            e_i = f'e{ti}'
            df_phase_resp_timings.loc[cycle, e_i] = transition + i/n_cuts*exp_duration
            
        df_phase_resp_timings.loc[cycle, 'end'] = stop
    return df_phase_resp_timings

In [88]:
df_phase_resp_timings = get_phases_resp_timings()
df_phase_resp_timings

cycle rsp: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3919/3919 [00:03<00:00, 1128.19it/s]

,i1,i2,i3,i4,e1,e2,e3,e4,e5,e6,end
0,0.609375,0.876953,1.144531,1.412109,1.679688,1.994792,2.309896,2.625,2.940104,3.255208,3.570312
1,3.570312,3.848633,4.126953,4.405273,4.683594,5.021484,5.359375,5.697266,6.035156,6.373047,6.710938
2,6.710938,6.969727,7.228516,7.487305,7.746094,8.096354,8.446615,8.796875,9.147135,9.497396,9.847656
3,9.847656,10.111328,10.375,10.638672,10.902344,11.25,11.597656,11.945312,12.292969,12.640625,12.988281
4,12.988281,13.207031,13.425781,13.644531,13.863281,14.139974,14.416667,14.693359,14.970052,15.246745,15.523438
...,...,...,...,...,...,...,...,...,...,...,...
3914,11323.417969,11323.647461,11323.876953,11324.106445,11324.335938,11324.645182,11324.954427,11325.263672,11325.572917,11325.882161,11326.191406
3915,11326.191406,11326.44043,11326.689453,11326.938477,11327.1875,11327.44987,11327.71224,11327.974609,11328.236979,11328.499349,11328.761719
3916,11328.761719,11328.986328,11329.210938,11329.435547,11329.660156,11329.976562,11330.292969,11330.609375,11330.925781,11331.242188,11331.558594
3917,11331.558594,11331.798828,11332.039062,11332.279297,11332.519531,11332.783854,11333.048177,11333.3125,11333.576823,11333.841146,11334.105469
3918,11334.105469,11334.345703,11334.585938,11334.826172,11335.066406,11335.455078,11335.84375,11336.232422,11336.621094,11337.009766,11337.398438

In [62]:
spindles

,stage,Start,Peak,End,Duration,Amplitude,RMS,AbsPower,RelPower,Frequency,Oscillations,Symmetry,Channel,IdxChannel
0,N2,59.062500,59.421875,59.949219,0.886719,50.552506,9.198861,1.681054,0.273213,13.133270,9,0.403509,Fp2-C4,0
1,N2,61.679688,62.152344,62.363281,0.683594,45.307265,11.034409,2.248550,0.552724,12.831320,9,0.687500,Fp2-C4,0
2,N2,65.433594,65.742188,66.015625,0.582031,44.304907,10.309570,2.206756,0.374857,13.944231,8,0.526667,Fp2-C4,0
3,N2,67.644531,67.765625,68.296875,0.652344,48.667588,11.655442,2.139002,0.361876,14.613934,8,0.184524,Fp2-C4,0
4,N2,87.617188,87.996094,88.328125,0.710938,50.774271,10.271449,1.864006,0.237175,13.915260,7,0.530055,Fp2-C4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,N2,10650.789062,10650.921875,10651.527344,0.738281,53.699516,11.466963,2.057794,0.347915,13.990410,10,0.178947,T3-O1,7
3933,N2,10848.859375,10849.191406,10849.449219,0.589844,46.845153,12.360291,2.203372,0.294651,13.509131,8,0.559211,T3-O1,7
3934,N2,10881.660156,10882.257812,10882.429688,0.769531,55.876462,12.462484,1.994074,0.287606,13.846079,10,0.772727,T3-O1,7
3935,N2,11121.531250,11122.054688,11122.546875,1.015625,50.616274,10.266257,1.963956,0.387135,13.169566,13,0.513410,T3-O1,7
3936,N2,11306.007812,11306.425781,11306.535156,0.527344,38.263166,8.935017,1.752019,0.219201,12.893495,6,0.786765,T3-O1,7

In [64]:
spindles_times = spindles['Peak'].values

In [86]:
loop = range(df_cycles.shape[0])
loop = tqdm.tqdm(loop , desc = 'cycle rsp')
phases_resps_labels = ['i1','i2','i3','i4','e1','e2','e3','e4','e5','e6','end']
count = pd.Series(data = [0 for i in phases_resps_labels], index = phases_resps_labels)
for cycle in loop:
    for spindle_time in spindles_times:
        for i, phase_start in enumerate(phases_resps_labels):
            if not i == len(phases_resps_labels):
                phase_stop = phases_resps_labels[i + 1]
                if spindle_time >= df_phase_resp_timings.loc[cycle , phase_start] and spindle_time <= df_phase_resp_timings.loc[cycle , phase_stop]:
                    count.loc[phase_start] = count.loc[phase_start] + 1
            else:
                phase_stop = 'end'
                if spindle_time >= df_phase_resp_timings.loc[cycle , phase_start] and spindle_time <= df_phase_resp_timings.loc[cycle , phase_stop]:
                    count.loc[phase_start] = count.loc[phase_start] + 1

cycle rsp:   0%|                                                                                                                                                                                                   | 0/3919 [00:00<?, ?it/s]

IndexError: list index out of range

In [85]:
count

i1    0
i2    0
i3    0
i4    0
e1    0
e2    0
e3    0
e4    0
e5    0
e6    0
dtype: int64

In [68]:
df_count.plot.bar()

TypeError: no numeric data to plot

In [11]:
df_analyse['spindle occuring'].value_counts()

e    2640
i    1286
Name: spindle occuring, dtype: int64

In [12]:
sum(list(df_analyse['spindle occuring'].notnull()))

3926

In [13]:
df_masked = df_analyse[df_analyse['spindle occuring'].notnull()]

In [14]:
df_masked

,n_cycle,start,transition,stop,spindle peak,spindle chan,spindle occuring
60563,15,45.320312,46.394531,47.964844,46.878906,Fz-Cz,e
61510,15,45.320312,46.394531,47.964844,46.507812,Fp1-C3,e
74803,19,57.117188,58.250000,60.234375,59.421875,Fp2-C4,e
78741,20,60.234375,61.265625,63.238281,62.152344,Fp2-C4,e
80249,20,60.234375,61.265625,63.238281,62.066406,Fz-Cz,e
...,...,...,...,...,...,...,...
15318723,3890,11251.066406,11252.062500,11254.351562,11253.000000,C3-T3,e
15328107,3893,11260.808594,11261.792969,11263.472656,11261.617188,C4-T4,i
15389732,3908,11305.285156,11306.230469,11308.312500,11306.425781,T3-O1,e
15407728,3913,11320.007812,11321.019531,11323.417969,11323.007812,Fz-Cz,e
15409275,3913,11320.007812,11321.019531,11323.417969,11321.785156,C3-T3,e

In [15]:
df_masked['n_cycle'].value_counts()

2319    9
1838    8
3555    8
1545    8
1556    8
       ..
1754    1
1777    1
3115    1
3102    1
1376    1
Name: n_cycle, Length: 1405, dtype: int64